<main>
    <div class="container py-4">

      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <div class="row">
            <div class="col">
                <h1 class="display-5 fw-bold">Explore and Find</h1>
                <div class="row">
                    <p class="col-md-8 fs-4">Looking for cocktails near you? We can help you find the best match for you!</p>
                    <button class="btn btn-primary btn-lg" [routerLink]="'/cocktails'" type="button">Search by cocktails</button>
                </div>
                <div class="row mt-4">
                    <p class="col-md-8 fs-4">Want to see what the bars have in store for you? Search below!</p>
                    <button class="btn btn-primary btn-lg" [routerLink]="'/bars'" type="button">Search by bars</button>
                </div>
            </div>
            <div class="col">
                <img [src]="'assets/images/cocktail.png'">
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
